<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4ea28aa496.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- dashboard status cards cdn -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


    <title>Sidebar With Bootstrap</title>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="#">MicroJobs</a>
                </div>
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">
                    <!-- <li class="sidebar-header">
                        Chose & Earn
                    </li> -->
                    <li class="sidebar-item">
                        <a href="dashboard.html" class="sidebar-link">
                            <i class="fa-solid fa-home pe-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="new-campaign.html" class="sidebar-link"><i class="fa-solid fa-file-circle-plus"></i> Post new job</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                            aria-expanded="false" aria-controls="pages">
                            <i class="fa-solid fa-earth-americas"></i>
                            Earn
                        </a>
                        <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="all-jobs.html" class="sidebar-link"><i class="fa-solid fa-list-check"></i> Find Jobs</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-offers.html" class="sidebar-link"><i class="fa-brands fa-buffer"></i> Offerwalls</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-surveys.html" class="sidebar-link"><i class="fa-solid fa-square-poll-vertical"></i> Surveys</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-faucet.html" class="sidebar-link"><i class="fa-solid fa-faucet-drip"></i> Faucet</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-shortlinks.html" class="sidebar-link"><i class="fa-solid fa-link"></i> Shorterlink</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="allptc-ads.html" class="sidebar-link"><i class="fa-solid fa-eye"></i> PTC</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-games.html" class="sidebar-link"><i class="fa-solid fa-dice"></i> Paid Games</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#campaigns" aria-expanded="false" aria-controls="campaigns">
                            <i class="fa-solid fa-sliders"></i>
                            Advertise
                        </a>
                        <ul id="campaigns" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#campaigns" style="">
                            <li class="sidebar-item">
                                <a href="deposit.html" class="sidebar-link"><i class="fa-solid fa-money-bill-transfer"></i> Deposit</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#task-multi" aria-expanded="false" aria-controls="multi-two">
                                    Micro Task
                                </a>

                                <ul id="task-multi" class="sidebar-dropdown list-unstyled collapse">
                                    <li class="sidebar-item">
                                        <a href="new-campaign.html" class="sidebar-link"><i class="fa-solid fa-file-circle-plus"></i> Create new campaign</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="pendding-task.html" class="sidebar-link"><i class="fa-solid fa-file-lines"></i> Pendding task</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="live-campaigns.html" class="sidebar-link"><i class="fa-solid fa-satellite-dish"></i> Live campaigns</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="campaign-history.html" class="sidebar-link"><i class="fa-solid fa-clock-rotate-left"></i> Your campaigns history</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#ptc-multi" aria-expanded="false" aria-controls="multi-two">
                                    PTC ads
                                </a>
                                <ul id="ptc-multi" class="sidebar-dropdown list-unstyled collapse">
                                    <li class="sidebar-item">
                                        <a href="ptc-advertise.html" class="sidebar-link"><i class="fa-solid fa-plus"></i> New PTC campaign</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="ptc-campaign-history.html" class="sidebar-link"><i class="fa-solid fa-clock-rotate-left"></i> PTC campaigns history</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a href="withdraw.html" class="sidebar-link"><i class="fa-solid fa-money-bill-trend-up"></i> Withdraw</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="referral.html" class="sidebar-link"><i class="fa-solid fa-people-group"></i> Referrals</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="bonus.html" class="sidebar-link"><i class="fa-solid fa-gift"></i> Bonus</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="leaderboard.html" class="sidebar-link"><i class="fa-solid fa-people-roof"></i> Leaderboard</a>
                    </li>
                    <li class="sidebar-header">
                        Your desire place
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi"
                            aria-expanded="false" aria-controls="multi">
                            <i class="fa-solid fa-gear"></i>
                            Settings
                        </a>
                        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="profile.html" class="sidebar-link"><i class="fa-solid fa-user"></i> Profile</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="profile-security.html" class="sidebar-link"><i class="fa-solid fa-shield-halved"></i> Security</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="profile-billing.html" class="sidebar-link"><i class="fa-solid fa-wallet"></i> Withdraw</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="profile-notification.html" class="sidebar-link"><i class="fa-solid fa-bell"></i> Notifications</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="sidebar-item">
                        <a href="contact.html" class="sidebar-link"><i class="fa-solid fa-headset"></i> Contact/Support</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link"><i class="fa-solid fa-right-from-bracket"></i> Sign Out</a>
                    </li>
                    
                </ul>
            </div>
        </aside>
        <!-- Main Component -->
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
              <div class="container-fluid">
                <div class="navbar-header">
                    <button class="btn" type="button" data-bs-theme="light">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <div class="notification-icon">
                        <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <!-- Use the Bootstrap Badge component for notifications -->
                            <span class="badge badge-danger">3</span>
                        </a>
                        <!-- Notification dropdown menu -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">You receive $3</a>
                            <a class="dropdown-item" href="#">Notification 2</a>
                            <a class="dropdown-item" href="#">Notification 3</a>
                        </div>
                    </div>
                  <button class="btn btn-primary" type="submit">Post Job</button>
                </ul>
              </div>
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">

                    <!-- profile code start -->
                    <div class="all-history-page all-surveys-page">
                    <!-- ***** profile code start ***** -->
                    
                        <div class="container">
                          <div class="row">
                              <div class="col-xl-8 mt-3">
                                  <div class="card">
                                      <div class="card-body">
                                          <div class="dropdown float-end">
                                              <a href="profile-settings.html">
                                                <button class="btn btn-primary" type="button">Edit</button>
                                              </a>

                                          </div>
                                          <div class="d-flex align-items-start">
                                              <img src="file:///Users/usama/Desktop/new%20minitask%20design/assets/images/usama.png" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">
                                              <div class="w-100 ms-3">
                                                  <h4 class="my-0">Usama Mazhar</h4>
                                                  <p class="text-muted">@usama8081</p>
                                                  <button type="button" class="btn btn-soft-primary btn-xs waves-effect mb-2 waves-light">Follow</button>
                                                  <button type="button" class="btn btn-soft-success btn-xs waves-effect mb-2 waves-light">Message</button>
                                              </div>
                                          </div>

                                          <div class="mt-3">
                                              <h4 class="font-13 text-uppercase">About Me :</h4>
                                              <p class="text-muted font-13 mb-3">
                                                  Hi I'm Usama, I have done all the jobs with honestly and punctuality i will be become a advance user at Microtask.
                                              </p>
                                              <p class="text-muted mb-2 font-13"><strong>Full Name :</strong> <span class="ms-2">Usama Mazhar</span></p>
                                          
                                              <p class="text-muted mb-2 font-13"><strong>Mobile :</strong><span class="ms-2">+92 304-7439-904</span></p>
                                          
                                              <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span class="ms-2">usama8081@gmail.com</span></p>
                                          
                                              <p class="text-muted mb-1 font-13"><strong>Location :</strong> <span class="ms-2">Pakistan</span></p>
                                          </div>                                    

                                          <ul class="social-list list-inline mt-3 mb-0">
                                              <li class="list-inline-item">
                                                  <a href="#" class="social-list-item text-center border-primary text-primary"><i class="mdi mdi-facebook"></i></a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a href="#" class="social-list-item text-center border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a href="#" class="social-list-item text-center border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a href="#" class="social-list-item text-center border-secondary text-secondary"><i class="mdi mdi-instagram"></i></a>
                                              </li>
                                          </ul>   
                                      </div>                                 
                                  </div> <!-- end card -->

                                  <div class="card">
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <div class="col-4 border-end border-light">
                                                <h5 class="text-muted mt-1 mb-2 fw-normal">Tasks</h5>
                                                <h2 class="mb-0 fw-bold">116</h2>
                                            </div>
                                            <div class="col-4 border-end border-light">
                                                <h5 class="text-muted mt-1 mb-2 fw-normal">Offers</h5>
                                                <h2 class="mb-0 fw-bold">87</h2>
                                            </div>
                                            <div class="col-4">
                                                <h5 class="text-muted mt-1 mb-2 fw-normal">Surveys</h5>
                                                <h2 class="mb-0 fw-bold">98</h2>
                                            </div>
                                        </div>
                                    </div>
                                  </div>

                                  <div class="card">
                                      <div class="tab-content p-4">
                                          

                                          <div class="tab-pane active show" id="tasks-tab" role="tabpanel">
                                              <h4 class="card-title mb-4">Tasks history</h4>

                                              <div class="row">
                                                  <div class="col-xl-12">
                                                      <div class="task-list-box" id="landing-task">
                                                          <div id="task-item-1">
                                                              <div class="card task-box rounded-3">
                                                                  <div class="card-body">
                                                                      <div class="row align-items-center">
                                                                          <div class="col-xl-6 col-sm-5">
                                                                              <div class="checklist form-check font-size-15">
                                                                                  <input type="checkbox" class="form-check-input" id="customCheck1">
                                                                                  <label class="form-check-label ms-1 task-title" for="customCheck1">Visit my blog</label>
                                                                              </div>
                                                                          </div><!-- end col -->
                                                                          <div class="col-xl-6 col-sm-7">
                                                                              <div class="row align-items-center">
                                                                                  <div class="col-xl-5 col-md-6 col-sm-5">
                                                                                    
                                                                                  </div><!-- end col -->
                                                                                  <div class="col-xl-7 col-md-6 col-sm-7">
                                                                                      <div class="d-flex flex-wrap gap-3 mt-3 mt-xl-0 justify-content-md-end">
                                                                                          <div>
                                                                                              <span class="badge rounded-pill badge-soft-warning font-size-11 task-status">Progress</span>
                                                                                          </div>
                                                                                          <div>
                                                                                              <a href="#" class="mb-0 text-muted fw-medium"><i class="fas fa-dollar"></i> 2.35
                                                                                              </a>
                                                                                          </div>
                                                                                          <div>
                                                                                              <a href="#" class="mb-0 text-muted fw-medium" data-bs-toggle="modal" data-bs-target=".bs-example-new-task"><i class="fas fa-external-link-alt" onclick="editTask('task-item-1')"></i></a>
                                                                                          </div>
                                                                                      </div>
                                                                                  </div><!-- end col -->
                                                                              </div><!-- end row -->
                                                                          </div><!-- end col -->
                                                                      </div><!-- end row -->
                                                                  </div><!-- end cardbody -->
                                                              </div><!-- end card -->
                                                          </div>
                                                      </div><!-- end -->

                                                      <div class="task-list-box" id="blog-task">
                                                          <div id="task-item-3">
                                                              <div class="card task-box rounded-3">
                                                                  <div class="card-body">
                                                                      <div class="row align-items-center">
                                                                          <div class="col-xl-6 col-sm-5">
                                                                              <div class="checklist form-check font-size-15">
                                                                                  <input type="checkbox" class="form-check-input" id="customCheck3">
                                                                                  <label class="form-check-label ms-1 task-title" for="customCheck3">Instagram follow task</label>
                                                                              </div>
                                                                          </div><!-- end col -->
                                                                          <div class="col-xl-6 col-sm-7">
                                                                              <div class="row align-items-center">
                                                                                  <div class="col-xl-5 col-md-6 col-sm-5">
                                                                                      
                                                                                  </div><!-- end col -->
                                                                                  <div class="col-xl-7 col-md-6 col-sm-7">
                                                                                      <div class="d-flex flex-wrap gap-3 mt-3 mt-xl-0 justify-content-md-end">
                                                                                          <div>
                                                                                              <span class="badge rounded-pill badge-soft-danger font-size-11 task-status">Pending</span>
                                                                                          </div>
                                                                                          <div>
                                                                                              <a href="#" class="mb-0 text-muted fw-medium"><i class="fas fa-dollar"></i> 2.35
                                                                                              </a>
                                                                                          </div>
                                                                                          <div>
                                                                                              <a href="#" class="mb-0 text-muted fw-medium" data-bs-toggle="modal" data-bs-target=".bs-example-new-task"><i class="fas fa-external-link-alt" onclick="editTask('task-item-1')"></i></a>
                                                                                          </div>
                                                                                      </div>
                                                                                  </div><!-- end col -->
                                                                              </div><!-- end row -->
                                                                          </div><!-- end col -->
                                                                      </div><!-- end row -->
                                                                  </div><!-- end cardbody -->
                                                              </div><!-- end card -->
                                                          </div>
                                                      </div><!-- end -->

                                                      <div class="task-list-box" id="comp-task">
                                                          <div id="task-item-4">
                                                              <div class="card task-box rounded-3">
                                                                  <div class="card-body">
                                                                      <div class="row align-items-center">
                                                                          <div class="col-xl-6 col-sm-5">
                                                                              <div class="checklist form-check font-size-15">
                                                                                  <input type="checkbox" class="form-check-input" id="customChat" checked="">
                                                                                  <label class="form-check-label ms-1 task-title" for="customChat">Twitter like</label>
                                                                              </div>
                                                                          </div><!-- end col -->
                                                                          <div class="col-xl-6 col-sm-7">
                                                                              <div class="row align-items-center">
                                                                                  <div class="col-xl-5 col-md-6 col-sm-5">
                                                                                    
                                                                                  </div><!-- end col -->
                                                                                  <div class="col-xl-7 col-md-6 col-sm-7">
                                                                                      <div class="d-flex flex-wrap gap-3 mt-3 mt-xl-0 justify-content-md-end">
                                                                                          <div>
                                                                                              <span class="badge rounded-pill badge-soft-success font-size-11 task-status">Completed</span>
                                                                                          </div>
                                                                                          <div>
                                                                                              <a href="#" class="mb-0 text-muted fw-medium"><i class="fas fa-dollar"></i> 2.35
                                                                                              </a>
                                                                                          </div>
                                                                                          <div>
                                                                                              <a href="#" class="mb-0 text-muted fw-medium" data-bs-toggle="modal" data-bs-target=".bs-example-new-task"><i class="fas fa-external-link-alt" onclick="editTask('task-item-1')"></i></a>
                                                                                          </div>
                                                                                      </div>
                                                                                  </div><!-- end col -->
                                                                              </div><!-- end row -->
                                                                          </div><!-- end col -->
                                                                      </div><!-- end row -->
                                                                  </div><!-- end cardbody -->
                                                              </div><!-- end card -->
                                                          </div>
                                                      </div><!-- end -->

                                                      <div class="task-list-box" id="blog-task">
                                                          <div id="task-item-3">
                                                              <div class="card task-box rounded-3">
                                                                  <div class="card-body">
                                                                      <div class="row align-items-center">
                                                                          <div class="col-xl-6 col-sm-5">
                                                                              <div class="checklist form-check font-size-15">
                                                                                  <input type="checkbox" class="form-check-input" id="customCheck3">
                                                                                  <label class="form-check-label ms-1 task-title" for="customCheck3">Instagram follow task</label>
                                                                              </div>
                                                                          </div><!-- end col -->
                                                                          <div class="col-xl-6 col-sm-7">
                                                                              <div class="row align-items-center">
                                                                                  <div class="col-xl-5 col-md-6 col-sm-5">
                                                                                      
                                                                                  </div><!-- end col -->
                                                                                  <div class="col-xl-7 col-md-6 col-sm-7">
                                                                                      <div class="d-flex flex-wrap gap-3 mt-3 mt-xl-0 justify-content-md-end">
                                                                                          <div>
                                                                                              <span class="badge rounded-pill badge-soft-danger font-size-11 task-status">Canceled</span>
                                                                                          </div>
                                                                                          <div>
                                                                                              <a href="#" class="mb-0 text-muted fw-medium"><i class="fas fa-dollar"></i> 2.35
                                                                                              </a>
                                                                                          </div>
                                                                                          <div>
                                                                                              <a href="#" class="mb-0 text-muted fw-medium" data-bs-toggle="modal" data-bs-target=".bs-example-new-task"><i class="fas fa-external-link-alt" onclick="editTask('task-item-1')"></i></a>
                                                                                          </div>
                                                                                      </div>
                                                                                  </div><!-- end col -->
                                                                              </div><!-- end row -->
                                                                          </div><!-- end col -->
                                                                      </div><!-- end row -->
                                                                  </div><!-- end cardbody -->
                                                              </div><!-- end card -->
                                                          </div>
                                                      </div><!-- end -->

                                                  </div><!-- end col -->
                                              </div><!-- end row -->
                                          </div><!-- end tab pane -->

                                          
                                      </div>
                                  </div><!-- end card -->
                              </div>
                              <!-- end col -->

                              <div class="col-xl-4">
                                  <div class="card">
                                      <div class="card-body">
                                          <div class="pb-2">
                                              <h4 class="card-title mb-3">About</h4>
                                              <p>Hi I'm Usama,I have done all the jobs with honestly and punctuality i will be become a advance user at Microtask.</p>
                                              <ul class="ps-3 mb-0">
                                                  <li>it will seem like simplified.</li>
                                                  <li>To achieve this, it would be necessary to have uniform pronunciation</li>
                                              </ul>
                                              <!-- end ul -->
                                          </div>
                                          <hr>
                                          <div class="pt-2">
                                              <h4 class="card-title mb-4">My Skill</h4>
                                              <div class="d-flex gap-2 flex-wrap">
                                                  <span class="badge badge-soft-secondary p-2">Tasks</span>
                                                  <span class="badge badge-soft-secondary p-2">Surveys</span>
                                                  <span class="badge badge-soft-secondary p-2">PTC</span>
                                                  <span class="badge badge-soft-secondary p-2">Faucet</span>
                                                  <span class="badge badge-soft-secondary p-2">Shortlink</span>
                                                  <span class="badge badge-soft-secondary p-2">offers</span>
                                              </div>
                                          </div>
                                      </div><!-- end cardbody -->
                                  </div><!-- end card -->

                                  <div class="card">
                                      <div class="card-body">
                                          <div>
                                              <h4 class="card-title mb-4">Personal Details</h4>
                                              <div class="table-responsive">
                                                  <table class="table table-bordered mb-0">
                                                      <tbody>
                                                          <tr>
                                                              <th scope="row">Name</th>
                                                              <td>Usama Mazhar</td>
                                                          </tr><!-- end tr -->
                                                          <tr>
                                                              <th scope="row">Location</th>
                                                              <td>Lahore, Pakistan</td>
                                                          </tr><!-- end tr -->
                                                          <tr>
                                                              <th scope="row">Language</th>
                                                              <td>Urdu, English</td>
                                                          </tr><!-- end tr -->
                                                          <tr>
                                                              <th scope="row">Comes from</th>
                                                              <td>Reffer by <a href="#">mubo201</a></td>
                                                          </tr><!-- end tr -->
                                                      </tbody><!-- end tbody -->
                                                  </table><!-- end table -->
                                              </div>
                                          </div>
                                      </div><!-- end card body -->
                                  </div><!-- end card -->

                                 
                              </div><!-- end col -->
                            </div>
                        </div>
                    
                        <!-- profile code end -->
                    </div>
                </div>
            </main>
            <footer >
              <div class="row justify-content-center mt-0 pt-0 row-1 mb-0  px-sm-3 px-2">
                <div class="container">
                  <div class="col-12">
                    <div class="row my-4 row-1 no-gutters">
                      <div class="col-sm-6 col-auto">
                        <p>Copyright © 2023 <a href="#">Microtask</a> Company. All rights reserved.
                      </div>

                      <div class="col-md-3 col-auto"></div>
                      <div class="col-md-3  my-auto text-md-left text-right text-center">
                      <small> <a class="email-address-font" href="#">hello@microtask.com </a>|
                      <a href="#" target="_blank" title="Visit us on Facebook">
                        <i class="fab fa-facebook-square"></i>
                      </a> 
                      <a href="#" target="_blank" title="Visit us on Facebook">
                        <i class="fab fa-telegram "></i>
                      </a>
                      <a href="#" target="_blank" title="Visit us on Facebook">
                        <i class="fab fa-twitter-square"></i>
                      </a>
                      <a href="#" target="_blank" title="Visit us on Facebook">
                        <i class="fab fa-instagram-square"></i>
                      </a>
                      </small>  
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </footer>
        </div>
    </div>
    <!-- user dashboard start -->
    
    <!-- user dashboard END -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>


    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/popup.js"></script>
    <script src="assets/js/custom.js"></script>

    <!-- Bootstrap and other scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</body>

</html>