<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- dashboard status cards cdn -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


    <title>Sidebar With Bootstrap</title>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="#">MicroJobs</a>
                </div>
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">
                    <!-- <li class="sidebar-header">
                        Chose & Earn
                    </li> -->
                    <li class="sidebar-item">
                        <a href="dashboard.html" class="sidebar-link">
                            <i class="fa-solid fa-home pe-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="new-campaign.html" class="sidebar-link"><i class="fa-solid fa-file-circle-plus"></i> Post new job</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                            aria-expanded="false" aria-controls="pages">
                            <i class="fa-solid fa-earth-americas"></i>
                            Earn
                        </a>
                        <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="all-jobs.html" class="sidebar-link"><i class="fa-solid fa-list-check"></i> Find Jobs</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-offers.html" class="sidebar-link"><i class="fa-brands fa-buffer"></i> Offerwalls</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-surveys.html" class="sidebar-link"><i class="fa-solid fa-square-poll-vertical"></i> Surveys</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-faucet.html" class="sidebar-link"><i class="fa-solid fa-faucet-drip"></i> Faucet</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-shortlinks.html" class="sidebar-link"><i class="fa-solid fa-link"></i> Shorterlink</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="allptc-ads.html" class="sidebar-link"><i class="fa-solid fa-eye"></i> PTC</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-games.html" class="sidebar-link"><i class="fa-solid fa-dice"></i> Paid Games</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#campaigns" aria-expanded="false" aria-controls="campaigns">
                            <i class="fa-solid fa-sliders"></i>
                            Advertise
                        </a>
                        <ul id="campaigns" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#campaigns" style="">
                            <li class="sidebar-item">
                                <a href="deposit.html" class="sidebar-link"><i class="fa-solid fa-money-bill-transfer"></i> Deposit</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#task-multi" aria-expanded="false" aria-controls="multi-two">
                                    Micro Task
                                </a>

                                <ul id="task-multi" class="sidebar-dropdown list-unstyled collapse">
                                    <li class="sidebar-item">
                                        <a href="new-campaign.html" class="sidebar-link"><i class="fa-solid fa-file-circle-plus"></i> Create new campaign</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="pendding-task.html" class="sidebar-link"><i class="fa-solid fa-file-lines"></i> Pendding task</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="live-campaigns.html" class="sidebar-link"><i class="fa-solid fa-satellite-dish"></i> Live campaigns</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="campaign-history.html" class="sidebar-link"><i class="fa-solid fa-clock-rotate-left"></i> Your campaigns history</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#ptc-multi" aria-expanded="false" aria-controls="multi-two">
                                    PTC ads
                                </a>
                                <ul id="ptc-multi" class="sidebar-dropdown list-unstyled collapse">
                                    <li class="sidebar-item">
                                        <a href="ptc-advertise.html" class="sidebar-link"><i class="fa-solid fa-plus"></i> New PTC campaign</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="ptc-campaign-history.html" class="sidebar-link"><i class="fa-solid fa-clock-rotate-left"></i> PTC campaigns history</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a href="withdraw.html" class="sidebar-link"><i class="fa-solid fa-money-bill-trend-up"></i> Withdraw</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="referral.html" class="sidebar-link"><i class="fa-solid fa-people-group"></i> Referrals</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="bonus.html" class="sidebar-link"><i class="fa-solid fa-gift"></i> Bonus</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="leaderboard.html" class="sidebar-link"><i class="fa-solid fa-people-roof"></i> Leaderboard</a>
                    </li>
                    <li class="sidebar-header">
                        Your desire place
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi"
                            aria-expanded="false" aria-controls="multi">
                            <i class="fa-solid fa-gear"></i>
                            Settings
                        </a>
                        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="profile.html" class="sidebar-link"><i class="fa-solid fa-user"></i> Profile</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="profile-security.html" class="sidebar-link"><i class="fa-solid fa-shield-halved"></i> Security</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="profile-billing.html" class="sidebar-link"><i class="fa-solid fa-wallet"></i> Withdraw</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="profile-notification.html" class="sidebar-link"><i class="fa-solid fa-bell"></i> Notifications</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="sidebar-item">
                        <a href="contact.html" class="sidebar-link"><i class="fa-solid fa-headset"></i> Contact/Support</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link"><i class="fa-solid fa-right-from-bracket"></i> Sign Out</a>
                    </li>
                    
                </ul>
            </div>
        </aside>
        <!-- Main Component -->
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
              <div class="container-fluid">
                <div class="navbar-header">
                    <button class="btn" type="button" data-bs-theme="light">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <div class="notification-icon">
                        <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <!-- Use the Bootstrap Badge component for notifications -->
                            <span class="badge badge-danger">3</span>
                        </a>
                        <!-- Notification dropdown menu -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">You receive $3</a>
                            <a class="dropdown-item" href="#">Notification 2</a>
                            <a class="dropdown-item" href="#">Notification 3</a>
                        </div>
                    </div>
                  <button class="btn btn-primary" type="submit">Post Job</button>
                </ul>
              </div>
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">

                    <!-- all games start -->
                    <div class="all-history-page all-surveys-page">
                    <!-- ***** All Games start ***** -->
                    
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-12 my-4">
                              <div class="heading-section">
                                <h4><em>Most Popular</em> Games</h4>
                              </div>
                              <div class="row">
                                <div class="col-lg-2 col-sm-4">
                                  <div class="card-item">
                                    <img src="images/bananatic.png" alt="">
                                    <h4>Micro Task for lootably<br><span>Lootably</span><br><span1>$0.10</span1></h4>
                                  </div>
                                </div>
                                <div class="col-lg-2 col-sm-4">
                                  <div class="card-item">
                                    <img src="images/cint.png" alt="">
                                    <h4>Micro Task<br><span>Lootably</span><br><span1>$0.10</span1></h4>
                                  </div>
                                </div>
                                <div class="col-lg-2 col-sm-4">
                                  <div class="card-item">
                                    <img src="images/profile2.jpg" alt="">
                                    <h4>Micro Task<br><span>Lootably</span><br><span1>$0.10</span1></h4>
                                  </div>
                                </div>
                                <div class="col-lg-2 col-sm-4">
                                  <div class="card-item">
                                    <img src="images/popular-01.jpg" alt="">
                                    <h4>Micro Task<br><span>Lootably</span><br><span1>$0.10</span1></h4>
                                  </div>
                                </div>
                                <div class="col-lg-2 col-sm-4">
                                  <div class="card-item">
                                    <img src="images/oppepl.png" alt="">
                                    <h4>Micro Task<br><span>Lootably</span><br><span1>$0.10</span1></h4>
                                  </div>
                                </div>
                                <div class="col-lg-2 col-sm-4">
                                  <div class="card-item">
                                    <img src="images/usama.png" alt="">
                                    <h4>Micro Task<br><span>Lootably</span><br><span1>$0.10</span1></h4>
                                  </div>
                                </div>
                                <!-- ***** Most Popular Features End ***** -->

                              </div>
                            </div>
                          </div>
                        </div>
                    
                        <!-- All games end -->
                    </div>
                </div>
            </main>
            <footer >
              <div class="row justify-content-center mt-0 pt-0 row-1 mb-0  px-sm-3 px-2">
                <div class="container">
                  <div class="col-12">
                    <div class="row my-4 row-1 no-gutters">
                      <div class="col-sm-6 col-auto">
                        <p>Copyright © 2023 <a href="#">Microtask</a> Company. All rights reserved.
                      </div>

                      <div class="col-md-3 col-auto"></div>
                      <div class="col-md-3  my-auto text-md-left text-right text-center">
                      <small> <a class="email-address-font" href="#">hello@microtask.com </a>|
                      <a href="#" target="_blank" title="Visit us on Facebook">
                        <i class="fab fa-facebook-square"></i>
                      </a> 
                      <a href="#" target="_blank" title="Visit us on Facebook">
                        <i class="fab fa-telegram "></i>
                      </a>
                      <a href="#" target="_blank" title="Visit us on Facebook">
                        <i class="fab fa-twitter-square"></i>
                      </a>
                      <a href="#" target="_blank" title="Visit us on Facebook">
                        <i class="fab fa-instagram-square"></i>
                      </a>
                      </small>  
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </footer>
        </div>
    </div>
    <!-- user dashboard start -->
    
    <!-- user dashboard END -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>


    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/popup.js"></script>
    <script src="assets/js/custom.js"></script>

    <!-- Bootstrap and other scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</body>

</html>