<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- dashboard status cards cdn -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


    <title>Sidebar With Bootstrap</title>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="#">MicroJobs</a>
                </div>
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">
                    <!-- <li class="sidebar-header">
                        Chose & Earn
                    </li> -->
                    <li class="sidebar-item">
                        <a href="dashboard.html" class="sidebar-link">
                            <i class="fa-solid fa-home pe-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="new-campaign.html" class="sidebar-link"><i class="fa-solid fa-file-circle-plus"></i> Post new job</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                            aria-expanded="false" aria-controls="pages">
                            <i class="fa-solid fa-earth-americas"></i>
                            Earn
                        </a>
                        <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="all-jobs.html" class="sidebar-link"><i class="fa-solid fa-list-check"></i> Find Jobs</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-offers.html" class="sidebar-link"><i class="fa-brands fa-buffer"></i> Offerwalls</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-surveys.html" class="sidebar-link"><i class="fa-solid fa-square-poll-vertical"></i> Surveys</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-faucet.html" class="sidebar-link"><i class="fa-solid fa-faucet-drip"></i> Faucet</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-shortlinks.html" class="sidebar-link"><i class="fa-solid fa-link"></i> Shorterlink</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="allptc-ads.html" class="sidebar-link"><i class="fa-solid fa-eye"></i> PTC</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="all-games.html" class="sidebar-link"><i class="fa-solid fa-dice"></i> Paid Games</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#campaigns" aria-expanded="false" aria-controls="campaigns">
                            <i class="fa-solid fa-sliders"></i>
                            Advertise
                        </a>
                        <ul id="campaigns" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#campaigns" style="">
                            <li class="sidebar-item">
                                <a href="deposit.html" class="sidebar-link"><i class="fa-solid fa-money-bill-transfer"></i> Deposit</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#task-multi" aria-expanded="false" aria-controls="multi-two">
                                    Micro Task
                                </a>

                                <ul id="task-multi" class="sidebar-dropdown list-unstyled collapse">
                                    <li class="sidebar-item">
                                        <a href="new-campaign.html" class="sidebar-link"><i class="fa-solid fa-file-circle-plus"></i> Create new campaign</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="pendding-task.html" class="sidebar-link"><i class="fa-solid fa-file-lines"></i> Pendding task</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="live-campaigns.html" class="sidebar-link"><i class="fa-solid fa-satellite-dish"></i> Live campaigns</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="campaign-history.html" class="sidebar-link"><i class="fa-solid fa-clock-rotate-left"></i> Your campaigns history</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#ptc-multi" aria-expanded="false" aria-controls="multi-two">
                                    PTC ads
                                </a>
                                <ul id="ptc-multi" class="sidebar-dropdown list-unstyled collapse">
                                    <li class="sidebar-item">
                                        <a href="ptc-advertise.html" class="sidebar-link"><i class="fa-solid fa-plus"></i> New PTC campaign</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="ptc-campaign-history.html" class="sidebar-link"><i class="fa-solid fa-clock-rotate-left"></i> PTC campaigns history</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a href="withdraw.html" class="sidebar-link"><i class="fa-solid fa-money-bill-trend-up"></i> Withdraw</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="referral.html" class="sidebar-link"><i class="fa-solid fa-people-group"></i> Referrals</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="bonus.html" class="sidebar-link"><i class="fa-solid fa-gift"></i> Bonus</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="leaderboard.html" class="sidebar-link"><i class="fa-solid fa-people-roof"></i> Leaderboard</a>
                    </li>
                    <li class="sidebar-header">
                        Your desire place
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi"
                            aria-expanded="false" aria-controls="multi">
                            <i class="fa-solid fa-gear"></i>
                            Settings
                        </a>
                        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="profile.html" class="sidebar-link"><i class="fa-solid fa-user"></i> Profile</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="profile-security.html" class="sidebar-link"><i class="fa-solid fa-shield-halved"></i> Security</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="profile-billing.html" class="sidebar-link"><i class="fa-solid fa-wallet"></i> Withdraw</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="profile-notification.html" class="sidebar-link"><i class="fa-solid fa-bell"></i> Notifications</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="sidebar-item">
                        <a href="contact.html" class="sidebar-link"><i class="fa-solid fa-headset"></i> Contact/Support</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link"><i class="fa-solid fa-right-from-bracket"></i> Sign Out</a>
                    </li>
                    
                </ul>
            </div>
        </aside>
        <!-- Main Component -->
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
              <div class="container-fluid">
                <div class="navbar-header">
                    <button class="btn" type="button" data-bs-theme="light">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <div class="notification-icon">
                        <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <!-- Use the Bootstrap Badge component for notifications -->
                            <span class="badge badge-danger">3</span>
                        </a>
                        <!-- Notification dropdown menu -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">You receive $3</a>
                            <a class="dropdown-item" href="#">Notification 2</a>
                            <a class="dropdown-item" href="#">Notification 3</a>
                        </div>
                    </div>
                  <button class="btn btn-primary" type="submit">Post Job</button>
                </ul>
              </div>
            </nav>
            <main class="content">
                <div class="container-fluid">

                    <div class="all-history-page">
                        <!-- ***** My campaigns Start ***** -->

                        <div class="main-profile mycampaigns-page">
                            <div class="col-lg-12">
                              <div class="heading-section">
                                <h4>Task Campaigns history</h4>
                              </div>
                                <div class="alert alert-with-icon pw-badge-danger fade show font-weight-medium" role="alert">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    <a class="password-change-link text-danger">Jobs older than 6 months are no longer available.</a>
                                </div>
                                <div class="results-bar d-flex align-items-center justify-content-between mb-4">

                                  <div class="d-flex results-bar__search">
                                    <form action="#" method="get" class="d-flex align-items-center" id="job-search-form">
                                      <input type="hidden" name="showDeclined" id="showDeclined" value="Y">
                                      <input type="hidden" name="filter" id="filter" value="">
                                      <input type="hidden" name="sort" id="sort" value="NEWEST">
                                      <input type="hidden" name="Folder" id="Folder" value="DEFAULT">
                                      <input type="text" name="s" id="search-term" class="form-control" placeholder="search here" value="">
                                      <input type="submit" class="btn btn-icon text-danger p-0 d-none">
                                    </form>
                                  </div>
                                </div>
                                
                                <div class="results-bar d-flex align-items-center justify-content-between flex-wrap">
                                  <p class="mb-0 mr-4 results-bar__total"><span>2</span> results</p>
                                  <div class="d-flex flex-wrap">
                                  <!--<div class="list-filter dropdown mr-4">
                                      <a class="dropdown-toggle btn btn-link" href="#" role="button" id="dropdownMenuCountery" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Show declined <span class="list-filter__sep">/</span> <span class="list-filter__selection">Yes</span>
                                      </a>

                                      <div class="dropdown-menu">
                                        <a class="dropdown-item job-search-form" data-filter="showDeclined" data-filter-value="Y">Yes</a>
                                        <a class="dropdown-item job-search-form" data-filter="showDeclined" data-filter-value="N">No</a>
                                      </div>

                                  </div> -->
                                    <div class="list-filter dropdown" data-job-filter="sort">
                                      <a class="dropdown-toggle btn btn-link" href="#" role="button" id="dropdownMenuCountery" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Filter by <span class="list-filter__sep">/</span>
                                        <span class="list-filter__selection">
                                                              All Jobs
                                          
                                        </span>
                                      </a>

                                      <div class="dropdown-menu">
                                        <a class="dropdown-item active job-search-form" data-filter="filter" data-filter-value="">All Jobs</a>
                                        <a class="dropdown-item job-search-form" data-filter="filter" data-filter-value="PENDING_REVIEW">Pending</a>
                                        <a class="dropdown-item job-search-form" data-filter="filter" data-filter-value="RUNNING">Running</a>
                                        <a class="dropdown-item job-search-form" data-filter="filter" data-filter-value="PAUSED_ADMIN">Paused Admin</a>
                                        <a class="dropdown-item job-search-form" data-filter="filter" data-filter-value="PAUSED">Paused</a>
                                        <a class="dropdown-item job-search-form" data-filter="filter" data-filter-value="PAUSED_SYSTEM">Paused System</a>
                                        <a class="dropdown-item job-search-form" data-filter="filter" data-filter-value="FINISHED">Finished</a>
                                        <a class="dropdown-item job-search-form" data-filter="filter" data-filter-value="BLOCKED">Blocked</a>
                                                            <a class="dropdown-item job-search-form" data-filter="filter" data-filter-value="DECLINED">Declined</a>
                                                      </div>
                                    </div>
                                    <div class="list-filter dropdown" data-job-filter="sort">
                                      <a class="dropdown-toggle btn btn-link" href="#" role="button" id="dropdownMenuCountery" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sort by <span class="list-filter__sep">/</span>
                                        <span class="list-filter__selection">
                                                              Newest
                                                          </span>
                                      </a>

                                      <div class="dropdown-menu">
                                        <a class="dropdown-item active job-search-form" data-filter="sort" data-filter-value="NEWEST">Newest</a>
                                        <a class="dropdown-item job-search-form" data-filter="sort" data-filter-value="OLDEST">Oldest</a>
                                        <a class="dropdown-item job-search-form" data-filter="sort" data-filter-value="COST">Highest Paying</a>
                                        <a class="dropdown-item job-search-form" data-filter="sort" data-filter-value="TITLE">Job Name</a>
                                      </div>
                                    </div>

                                  </div>
                                </div>


                                <!-- top area-before-table -->
                                <div class="table-responsive-md">
                                    <table class="table table-big table-hover table-middle">
                                      <thead>
                                        <tr class="table-row" >
                                          <th scope="col" class="white-space-pre text-center">Status</th>

                                          <th scope="col" class="white-space-pre">Job Name</th>
                                          <th scope="col" class="white-space-pre text-center">Progress</th>
                                          <th scope="col" class="white-space-pre text-center">Not Rated</th>
                                          <th scope="col" class="white-space-pre text-center">Cost</th>
                                          <th scope="col" class="white-space-pre text-center">Edit</th>
                                          <th scope="col" class="white-space-pre text-center">Stop/Start</th>
                                          <th scope="col" class="white-space-pre text-center">More</th>
                                        </tr>
                                      </thead>
                                      <tbody id="jobs-list">
                                          <tr class="table-row clickable">
                                            <td scope="row" class="table-cell-status text-center">
                                              <i class="fa fa-times" aria-hidden="true"></i>
                                            </td>
                                            
                                            <td class="table-cell-name">
                                              <a href="campaign-detail.html">Lolsurveys</a>
                                            </td>
                                            <td class="table-cell-progress text-center">
                                              56/80
                                            </td>
                                            <td class="table-cell-rated text-center">23</td>
                                            <td class="table-cell-cost text-center"><small>$</small><span>0.140</span></td>
                                            <td class="table-cell-settings p-0 text-center">
                                                <a href="campaign-detail.html">
                                                    <i class="fa fa-pencil-square-o side-icons" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td class="table-cell-settings p-0 text-center">
                                                <a href="">
                                                    <i class="fa fa-pause side-icons " aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <!-- Play button for alternative of pause button -->
                                            <!-- <td class="table-cell-settings p-0 text-center">
                                                <a href="">
                                                    <i class="fa fa-play side-icons" aria-hidden="true"></i>
                                                </a>
                                            </td> -->
                                            <td class="table-cell-settings p-0">
                                              <div class="dropdown dropleft">
                                                <button type="button" class="btn btn-lg btn-link pl-1 pr-3 d-md-block w-100"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </button>
                                                <div class="dropdown-menu with-icons">
                                                    <a class="dropdown-item pw-emp-menu-item" href="campaign-detail.html"><i class="fas fa-info-circle"></i> Job Details</a>
                                                    <a class="dropdown-item pw-emp-menu-item" href="#"><i class="fas fa-copy"></i> Clone Job</a>
                                                    <a class="dropdown-item pw-emp-menu-item" href="#"><i class="fas fa-eye"></i> View completed tasks</a>
                                                    <a class="dropdown-item pw-emp-menu-item" href="#"><i class="fas fa-eye"></i> Review pendding tasks</a>
                                                    <a class="dropdown-item pw-emp-menu-item pw-force-unrated-tasks-satisfied" href="#"><i class="fas fa-check-circle mr-1"></i> Rate pendding task satisfied</a>
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                          
                                          <tr class="table-row clickable">
                                            <td scope="row" class="table-cell-status text-center">
                                              <i class="fa fa-check" aria-hidden="true"></i>
                                            </td>
                                            <td class="table-cell-name" style="min-width: 150px;">
                                              <a href="#">Lolsurveys: Sign Up</a>
                                                        </td>
                                                <td class="table-cell-progress text-center" data-tippy="true" data-tippy-content="satisfied task ratings are very low, consider stopping the job">
                                              56/80
                                              <span class="ml-1 dot dot--red"></span>
                                            </td>
                                            <td class="table-cell-rated text-center">32</td>
                                            <td class="table-cell-cost text-center"><small>$</small><span>0.200</span></td>
                                            
                                            <td class="table-cell-settings p-0 text-center">
                                                <a href="">
                                                    <i class="fa fa-pencil-square-o side-icons" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td class="table-cell-settings p-0 text-center">
                                                <a href="">
                                                    <i class="fa fa-pause side-icons" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <!-- Play button for alternative of pause button -->
                                            <!-- <td class="table-cell-settings p-0 text-center">
                                                <a href="">
                                                    <i class="fa fa-play side-icons" aria-hidden="true"></i>
                                                </a>
                                            </td> -->
                                            <td class="table-cell-settings p-0">
                                              <div class="dropdown dropleft">
                                                <button type="button" class="btn btn-lg btn-link pl-1 pr-3 d-md-block w-100"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </button>
                                                <div class="dropdown-menu with-icons">
                                                    <a class="dropdown-item pw-emp-menu-item" href="/#"><i class="fas fa-info-circle"></i> Job Details</a>
                                                    <a class="dropdown-item pw-emp-menu-item" href="#"><i class="fas fa-copy"></i> Clone Job</a>
                                                    <a class="dropdown-item pw-emp-menu-item" href="#"><i class="fas fa-eye"></i> View completed tasks</a>
                                                    <a class="dropdown-item pw-emp-menu-item" href="#"><i class="fas fa-eye"></i> Review pendding tasks</a>
                                                    <a class="dropdown-item pw-emp-menu-item pw-force-unrated-tasks-satisfied" href="#"><i class="fas fa-check-circle mr-1"></i> Rate pendding task satisfied</a>
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </div>
                                <!-- demo -->
                            </div>
                        </div>
                      <!-- My campaigns end -->
                    </div>
                </div>
            </main>
            <footer >
              <div class="row justify-content-center mt-0 pt-0 row-1 mb-0  px-sm-3 px-2">
                <div class="container">
                  <div class="col-12">
                    <div class="row my-4 row-1 no-gutters">
                      <div class="col-sm-6 col-auto">
                        <p>Copyright © 2023 <a href="#">Microtask</a> Company. All rights reserved.
                      </div>

                      <div class="col-md-3 col-auto"></div>
                      <div class="col-md-3  my-auto text-md-left text-right text-center">
                      <small> <a class="email-address-font" href="#">hello@microtask.com </a>|
                      <a href="#" target="_blank" title="Visit us on Facebook">
                        <i class="fab fa-facebook-square"></i>
                      </a> 
                      <a href="#" target="_blank" title="Visit us on Facebook">
                        <i class="fab fa-telegram "></i>
                      </a>
                      <a href="#" target="_blank" title="Visit us on Facebook">
                        <i class="fab fa-twitter-square"></i>
                      </a>
                      <a href="#" target="_blank" title="Visit us on Facebook">
                        <i class="fab fa-instagram-square"></i>
                      </a>
                      </small>  
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </footer>
        </div>
    </div>
    <!-- user dashboard start -->
    
    <!-- user dashboard END -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>


    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/popup.js"></script>
    <script src="assets/js/custom.js"></script>

    <!-- Bootstrap and other scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</body>

</html>