
                    <div class="container-fluid">
                      <div class="all-history-page">
                        <div class=" mycampaigns-page">
                          <div class="col-lg-12 pt-2">
                            <div class="heading-section mt-3">
                                <h4>Pendding Tasks</h4>
                            </div>
                            <div class="alert alert-with-icon pw-badge-danger fade show font-weight-medium" role="alert">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <a class="password-change-link text-danger">Jobs older than 6 months are no longer available.</a>
                            </div>
                              <!-- filter start -->
                            <div class="results-bar d-flex align-items-center justify-content-between flex-wrap">
                                <p class="mb-0 mr-4 results-bar__total"><span> </span>  </p>
                                <div class="d-flex flex-wrap">
                                  <div class="list-filter dropdown mr-4">
                                    <a class="dropdown-toggle btn btn-link" href="#" role="button" id="dropdownMenuCountery" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Campaign filter <span class="list-filter__sep">/</span> <span class="list-filter__selection">All</span>
                                    </a>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item job-search-form" data-filter="showDeclined" data-filter-value="">232423 - Dosurveys Complete a survey or offer</a>
                                      <a class="dropdown-item job-search-form" data-filter="showDeclined" data-filter-value="">255523 - Lolsurveys Complete a survey or offer</a>
                                    </div>
                                  </div> 
                                  <div class="list-filter dropdown" data-job-filter="sort">
                                    <a class="dropdown-toggle btn btn-link" href="#" role="button" id="dropdownMenuCountery" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Filter by <span class="list-filter__sep">/</span>
                                        <span class="list-filter__selection">All Jobs
                                        </span>
                                    </a>

                                    <div class="dropdown-menu">
                                      <a class="dropdown-item active job-search-form" data-filter="filter" data-filter-value="">All Jobs</a>
                                      <a class="dropdown-item job-search-form" data-filter="filter" data-filter-value="PENDING_REVIEW">Pending only</a>
                                      <a class="dropdown-item job-search-form" data-filter="filter" data-filter-value="RUNNING">Approved only</a>
                                      <a class="dropdown-item job-search-form" data-filter="filter" data-filter-value="PAUSED_ADMIN">Rejected only</a>
                                      <a class="dropdown-item job-search-form" data-filter="filter" data-filter-value="PAUSED">Dispute only</a>
                                    </div>
                                  </div>

                                  <div class="list-filter dropdown" data-job-filter="sort">
                                    <a class="dropdown-toggle btn btn-link" href="#" role="button" id="dropdownMenuCountery" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Sort by <span class="list-filter__sep">/</span>
                                      <span class="list-filter__selection">
                                        Newest
                                      </span>
                                    </a>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item active job-search-form" data-filter="sort" data-filter-value="NEWEST">Newest</a>
                                      <a class="dropdown-item job-search-form" data-filter="sort" data-filter-value="OLDEST">Date Submitted</a>
                                      <a class="dropdown-item job-search-form" data-filter="sort" data-filter-value="COST">Date Approved</a>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <!-- top area-before-table -->
                            <div class="all-history-page">
                              <div class="row align-items-end mb-4 pb-2">
                                <nav class="mt-0">
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Pendding</button>
                                      <button class="nav-link" id="nav-withdraw-tab" data-bs-toggle="tab" data-bs-target="#nav-withdraw" type="button" role="tab" aria-controls="nav-withdraw" aria-selected="false">Approved</button>
                                      <button class="nav-link" id="nav-bonus-tab" data-bs-toggle="tab" data-bs-target="#nav-bonus" type="button" role="tab" aria-controls="nav-bonus" aria-selected="false">Rejected</button>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                  <!-- Pendding task start -->
                                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                      <div class="pendding-task-area mt-2">
                                        <div class="table-responsive">
                                          <table class="table table-bordered">
                                                    <thead>
                                                      <tr>

                                                        <th scope="col" class="table-dark table-taskdetail-area">
                                                            
                                                        Details
                                                        </th>
                                                        <th scope="col" class="table-dark table-user-area">User info
                                                        </th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td>
                                                            <!-- <strong>Campaign ID</strong> : 988799 <br> -->
                                                            <div class="form-check">
                                                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                            </div>
                                                            <p><strong>Campaign ID :</strong>
                                                            988799</p>
                                                            <span class="tiles-of-table"><strong>Title :</strong></span> <p>Dosurveys Complete a survey or offer</p>
                                                            <strong>Instructions :</strong>
                                                            <p>1. Go to https://dosurveys.net/referrer/admin and signup</p>
                                                            <p>2. Click on earn money and complete a survey or offer of a minimum of $0.05 cents.</p>
                                                            <strong>Note :</strong>
                                                            <p>The completed survey or offer must be worth min $0.05, if it isnt I will not pay.</p>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-primary" type="submit">Approved</button> <button class="btn btn-primary my-2" type="submit">Rejected</button> <br>
                                                            <strong>Pendding</strong> <br>
                                                            <strong>userid :</strong>
                                                            <p>215671820</p>
                                                            <strong>Date Submitted :</strong>
                                                            <p>2023-02-26 23:01:11</p>
                                                            <strong>Date Approved :</strong>
                                                            <p>2023-02-26 23:01:11</p>
                                                            <strong>Completion Time :</strong>
                                                            <p>13 minutes 0 seconds</p>
                                                            
                                                            <strong>Country :</strong>
                                                            <p>Pakistan</p>
                                                            <strong>State :</strong>
                                                            <p>Punjab</p>
                                                            <strong>Browser :</strong>
                                                            <p>Chrome</p>
                                                            <strong>Device Type :</strong>
                                                            <p>Desktop</p>
                                                            <strong>Gender :</strong>
                                                            <p>Male</p>
                                                            <strong>You Paid :</strong>
                                                            <p>$0.20</p>
                                                            <strong>User receive :</strong>
                                                            <p>$0.14</p>
                                                        </td>
                                                      </tr>
                                                      <!-- Add more rows as needed -->
                                                    </tbody>
                                          </table>
                                        </div>
                                      </div>
                                  </div>
                                  <!-- Approved/completed task start -->
                                  <div class="tab-pane fade" id="nav-withdraw" role="tabpanel" aria-labelledby="nav-withdraw-tab">
                                      <div class="pendding-task-area mt-2">
                                        <div class="table-responsive">
                                          <table class="table table-bordered">
                                                    <thead>
                                                      <tr>

                                                        <th scope="col" class="table-dark table-taskdetail-area">
                                                            
                                                        Details
                                                        </th>
                                                        <th scope="col" class="table-dark table-user-area">User info
                                                        </th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td>
                                                            <!-- <strong>Campaign ID</strong> : 988799 <br> -->
                                                            <div class="form-check">
                                                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                            </div>
                                                            <p><strong>Campaign ID :</strong>
                                                            988799</p>
                                                            <span class="tiles-of-table"><strong>Title :</strong></span> <p>Dosurveys Complete a survey or offer</p>
                                                            <strong>Instructions :</strong>
                                                            <p>1. Go to https://dosurveys.net/referrer/admin and signup</p>
                                                            <p>2. Click on earn money and complete a survey or offer of a minimum of $0.05 cents.</p>
                                                            <strong>Note :</strong>
                                                            <p>The completed survey or offer must be worth min $0.05, if it isnt I will not pay.</p>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-primary" type="submit">Approved</button> <button class="btn btn-primary my-2" type="submit">Rejected</button> <br>
                                                            <strong>Approved</strong> <br>
                                                            <strong>userid :</strong>
                                                            <p>215671820</p>
                                                            <strong>Date Submitted :</strong>
                                                            <p>2023-02-26 23:01:11</p>
                                                            <strong>Date Approved :</strong>
                                                            <p>2023-02-26 23:01:11</p>
                                                            <strong>Completion Time :</strong>
                                                            <p>13 minutes 0 seconds</p>
                                                            
                                                            <strong>Country :</strong>
                                                            <p>Pakistan</p>
                                                            <strong>State :</strong>
                                                            <p>Punjab</p>
                                                            <strong>Browser :</strong>
                                                            <p>Chrome</p>
                                                            <strong>Device Type :</strong>
                                                            <p>Desktop</p>
                                                            <strong>Gender :</strong>
                                                            <p>Male</p>
                                                            <strong>You Paid :</strong>
                                                            <p>$0.20</p>
                                                            <strong>User receive :</strong>
                                                            <p>$0.14</p>
                                                        </td>
                                                      </tr>
                                                      <!-- Add more rows as needed -->
                                                    </tbody>
                                          </table>
                                        </div>
                                      </div>                                
                                  </div>
                                  <!-- Rejected task start -->
                                  <div class="tab-pane fade" id="nav-bonus" role="tabpanel" aria-labelledby="nav-bonus-tab">
                                      <div class="pendding-task-area mt-2">
                                        <div class="table-responsive">
                                          <table class="table table-bordered">
                                                    <thead>
                                                      <tr>

                                                        <th scope="col" class="table-dark table-taskdetail-area">
                                                            
                                                        Details
                                                        </th>
                                                        <th scope="col" class="table-dark table-user-area">User info
                                                        </th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td>
                                                            <!-- <strong>Campaign ID</strong> : 988799 <br> -->
                                                            <div class="form-check">
                                                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                            </div>
                                                            <p><strong>Campaign ID :</strong>
                                                            988799</p>
                                                            <span class="tiles-of-table"><strong>Title :</strong></span> <p>Dosurveys Complete a survey or offer</p>
                                                            <strong>Instructions :</strong>
                                                            <p>1. Go to https://dosurveys.net/referrer/admin and signup</p>
                                                            <p>2. Click on earn money and complete a survey or offer of a minimum of $0.05 cents.</p>
                                                            <strong>Note :</strong>
                                                            <p>The completed survey or offer must be worth min $0.05, if it isnt I will not pay.</p>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-primary" type="submit">Approved</button> <button class="btn btn-primary my-2" type="submit">Rejected</button> <br>
                                                            <strong>Rejected</strong> <br>
                                                            <strong>userid :</strong>
                                                            <p>215671820</p>
                                                            <strong>Date Submitted :</strong>
                                                            <p>2023-02-26 23:01:11</p>
                                                            <strong>Date Approved :</strong>
                                                            <p>2023-02-26 23:01:11</p>
                                                            <strong>Completion Time :</strong>
                                                            <p>13 minutes 0 seconds</p>
                                                            
                                                            <strong>Country :</strong>
                                                            <p>Pakistan</p>
                                                            <strong>State :</strong>
                                                            <p>Punjab</p>
                                                            <strong>Browser :</strong>
                                                            <p>Chrome</p>
                                                            <strong>Device Type :</strong>
                                                            <p>Desktop</p>
                                                            <strong>Gender :</strong>
                                                            <p>Male</p>
                                                            <strong>You Paid :</strong>
                                                            <p>$0.20</p>
                                                            <strong>User receive :</strong>
                                                            <p>$0.14</p>
                                                        </td>
                                                      </tr>
                                                      <!-- Add more rows as needed -->
                                                    </tbody>
                                          </table>
                                        </div>
                                      </div>
                                  </div>

                                  <div class="tab-pane fade" id="nav-bonus" role="tabpanel" aria-labelledby="nav-bonus-tab">This is our fourth tab it's still free
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            